body {
    background-color: #fff8f0;
    font-family: 'sans-serif';
    color: #333;
    margin: 20px;
}

table, th, td {
  border: 1px solid black;
}

.centrado {
    margin-left: auto;
    margin-right: auto;
}