
.header, .footer {
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: rgb(177, 176, 176);
    color: white;
}

.header div {
  /*background-color: #f1f1f1;
  color:#000;*/
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  font-size: 30px;
}

.footer {
    justify-content: center; 
}

.header {
    padding-left: 50px;
}

.navblock {
    padding: 0px 100px 0px 100px;
    /*width: 50%; */
    background-color: #f8a60d;
}

#mynav {
    background-color: burlywood;
    color: white;
}
.contflex {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    background-color: white;
    padding: 10px;
}
.contflex div {
  background-color: #f1f1f1;
  /*border: 1px solid black;*/
  padding: 10px;
  font-size: 30px;
  text-align: left;
}

.enoji {
    max-width: 10%;
    height: auto;
    aspect-ratio: 16 / 9; /* Mantém proporção widescreen */
    object-fit: cover; /* Recorta para preencher, sem distorcer */  
}
.imgcar {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Mantém proporção widescreen */
  object-fit: cover; /* Recorta para preencher, sem distorcer */  
}

.btncar {
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: #f8a60d;
    border:none;
    border-radius: 10px;
}
.txtcar {
    font-size: 20px;
}

#primeira {
    width: 30;
    height: 20;
}
#segunda {
    width: 30;
    height: 20;
}
#terceira {
    width: 30;
    height: 20;
}




.contflex div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}