
header, footer {
    height: 30px;
    background-color: rgb(177, 176, 176);
    color: white;
}

footer {
    text-align: center;
}

header {
    padding-left: 50px;
}

.navblock {
    padding: 0px 100px 0px 100px;
    /*width: 50%; */
    background-color: #f8a60d;
}

#mynav {
    background-color: burlywood;
    color: white;
}
.contflex {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 10px;
}
.contflex div {
  background-color: #f1f1f1;
  /*border: 1px solid black;*/
  padding: 10px;
  font-size: 30px;
  text-align: center;}

#primeira {
    width: 30;
    height: 20;
}
#segunda {
    width: 30;
    height: 20;
}
#terceira {
    width: 30;
    height: 20;
}




.contflex div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}